# Source
src/

# Tests
__tests__/
*.test.ts
*.spec.ts
coverage/

# Config files
.eslintrc.js
.prettierrc
tsconfig.json
jest.config.js
.husky/

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Git
.git/
.gitignore

# Logs
logs/
*.log

# Environment variables
.env
.env.local
.env.*.local

# Misc
.DS_Store
Thumbs.db 